[submodule "W3D4/screwedoku"]
	path = W3D4/screwedoku
	url = https://github.com/LeoYulinLiAa/screwedoku.git
[submodule "W3D4/minesweeper"]
	path = W3D4/minesweeper
	url = https://github.com/LeoYulinLiAa/minesweeper.git
