[submodule "w5d4/aa-url-shortener"]
	path = w5d4/aa-url-shortener
	url = https://github.com/LeoYulinLiAa/aa-url-shortener.git
[submodule "w5d5/movie_buff"]
	path = w5d5/movie_buff
	url = https://github.com/LeoYulinLiAa/movie_buff.git
[submodule "w5d5/polls_app"]
	path = w5d5/polls_app
	url = https://github.com/LeoYulinLiAa/polls_app.git
[submodule "w6d3/first_routes_and_controllers"]
	path = w6d3/first_routes_and_controllers
	url = https://github.com/LeoYulinLiAa/first_routes_and_controllers.git
[submodule "w6d3/art_share_api"]
	path = w6d3/art_share_api
	url = https://github.com/LeoYulinLiAa/art_share_api.git
[submodule "w6d4/art_share_api"]
	path = w6d4/art_share_api
	url = https://github.com/LeoYulinLiAa/art_share_api.git
[submodule "w6d5/cats-99"]
	path = w6d5/cats-99
	url = https://github.com/LeoYulinLiAa/cats-99.git
[submodule "w7d2/music_app"]
	path = w7d2/music_app
	url = https://github.com/LeoYulinLiAa/music_app.git
[submodule "w7d3/goal_app"]
	path = w7d3/goal_app
	url = https://github.com/LeoYulinLiAa/goal_app.git
[submodule "w7d4/aa_times"]
	path = w7d4/aa_times
	url = https://github.com/LeoYulinLiAa/aa_times.git
[submodule "w7d5/redit_clone"]
	path = w7d5/redit_clone
	url = https://github.com/LeoYulinLiAa/redit_clone.git
[submodule "w8d2/rails_lite"]
	path = w8d2/rails_lite
	url = https://github.com/LeoYulinLiAa/rails_lite.git
[submodule "w8d4/reversi"]
	path = w8d4/reversi
	url = https://github.com/LeoYulinLiAa/reversi.git
