html, body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #1bd3ff;
  background: linear-gradient(135deg, #1bd3ff 0%, #4d7b9f 100%);
}

.main {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}
#clock {
  font-size: 48px;
  text-align: center;
}